body {
    margin: 0;
    background-color: #ffffff;
    position: relative;
    height: auto;
    min-height: 100%;
    font-size: 1rem;
    line-height: 1.6;
}

.main-section {
    background-color: #2CCCC4;
    color: #ffffff;
    text-align: center;
}

img {
    width: 25%;
}

.child-elem {
    display: inline-block;
    vertical-align: middle;
}

.child-elem img {
    
}

footer {
    background-color: #333333;
    color: white;
    background-image: none;
    text-align: center;
    min-height: 98px;
}

footer div p {
    margin: 0;
    vertical-align: bottom;
    position: relative;
    padding: 2em;
}

body,
header,
section,
footer {
    position: relative;
}