body {
    margin: 0;
    background-color: #ffffff;
    position: relative;
    height: auto;
    min-height: 100%;
}

section {
    background-color: #494399;
    color: #ffffff;
    text-align: center;
}